/************************************
	Imported Styles
************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/************************************
	Universal Styles
************************************/

*::before,
*::after,
* {
	box-sizing: border-box;
	color: var(--text-primary);
}

/************************************
	Root Styles
************************************/

:root {
	font-size: 16px;
	font-family: 'Open Sans';

	--bg-primary: #f1f1f1;
	--bg-secondary: #000000;
	--text-primary: #d1d3d4;
	--text-secondary: #393e41;
	--primary: #c4132d;
	--primary-hover: #a21026;
	--accent: #ffdd15;
}

/************************************
	SVG Styles
************************************/

svg {
	fill: white;
	height: 2.5rem;
	width: 2.5rem;
}

/************************************
	Footer Styles
************************************/

.main-footer {
	height: 50vh;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	background-color: var(--bg-secondary);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/************************************
	Left Section Styles
************************************/

.footer-section-left {
	width: 40vw;
	margin-left: 5rem;
}

.footer-heading.small-media-size {
	display: none;
}

.footer-heading {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: var(--primary);
}

.purpose {
	font-family: serif;
	font-size: 1rem;
	line-height: 1.5rem;
	width: 26rem;
}

.social-media-links {
	list-style: none;
	padding: 0;
	display: flex;
	margin-top: 3rem;
}

.social-media-item {
	margin: 0rem 1rem;
}

.social-media-item:first-child {
	margin-left: 0rem;
}

.social-media-item svg {
	transition: fill 500ms ease;
}

.social-media-item:hover svg {
	fill: var(--primary);
}

/************************************
	Right Section Styles
************************************/

.footer-section-right {
	width: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	padding: 0;
}

.contact {
	display: flex;
	align-items: center;
	margin: 1rem;
}

.contact-street p {
	margin: 0px;
}

.contact a {
	text-decoration: none;
}

.svg-holder {
	margin-right: 1rem;
}

.contact svg {
	fill: var(--primary);
}

/************************************
	Media Queries
************************************/
@media (max-width: 889px) {
	.footer-heading,
	.purpose {
		display: none;
	}

	.footer-heading.small-media-size {
		display: block;
		margin-bottom: 0px;
	}

	.social-media-links {
		margin-top: 1.5rem;
	}

	.main-footer {
		flex-direction: column;
	}

	.footer-section-left {
		margin: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100vw;
	}
}

@media (max-width: 689px) {
	.footer-heading.small-media-size {
		display: none;
	}

	.social-media-links {
		margin-top: 3rem;
	}
}

@media (max-width: 399px) {
	svg {
		height: 2.25rem;
		width: 2.25rem;
	}
	.social-media-item {
		margin: 0px 0.5rem;
	}

	.social-media-item:hover svg {
		fill: white;
	}
}
