/**********************************
  Font Imports
**********************************/

/* Open Sans Font - use 'font-family: "Open Sans", sans-serif' when using this font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/**********************************
  Font Definitions
**********************************/

@font-face {
	font-family: 'Grad';
	src: url(../assets/fonts/Grad.ttf);
}

@font-face {
	font-family: 'GradBold';
	src: url(../assets/fonts/Grad-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: 'GradItalic';
	src: url(../assets/fonts/Grad-Italic.ttf);
	font-style: italic, oblique;
}

/**********************************
  CSS Variables (Color Palette)
**********************************/

:root {
	--heading-font: 'Open Sans', sans-serif;
	--copy-font: 'Grad', serif;
	--bg-primary: #f1f1f1;
	--bg-secondary: #000000;
	--text-primary: #d1d3d4;
	--text-secondary: #393e41;
	--primary: #c4132d;
	--primary-hover: #a21026;
	--accent: #ffdd15;
	font-size: 16px;
}

/**********************************
  Universal Styles
**********************************/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************
  Test Styles
**********************************/

body {
	margin: 0px;
	/* background: linear-gradient(
		var(--bg-secondary),
		var(--primary),
		var(--bg-secondary)
	); */

	background-color: var(--bg-secondary);
	color: var(--text-secondary);
	font-family: var(--copy-font);
	font-style: none;
}

.recruitment-page {
	width: 80vw;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-primary);
}

.page-heading,
.instructions-heading,
.form-large h3,
.form-small h3,
.submit-button {
	font-family: var(--heading-font);
}

.instructions-heading {
	font-size: 2rem;
	color: var(--primary);
}

.page-heading {
	font-size: 2.75rem;
}

.instructions h3,
.form-large h3,
.form-small h3 {
	font-size: 2rem;
}

.instructions {
	align-self: flex-start;
	margin: 0 17%;
}
.instructions li {
	margin: 2rem 0rem;
	font-size: 1.2rem;
}

.form-large h3,
.form-small h3 {
	margin-bottom: 4rem;
}

.input-field {
	position: relative;
	height: 5rem;
	width: 51%;
}

.input-field input {
	position: absolute;
	background: transparent;
	border: 0px;
	box-shadow: none;
	outline: none;
	font-size: 1rem;
	color: var(--bg-secondary);
	width: 100%;
}

.input-field label {
	position: absolute;
	top: 0;
	left: 0;
	color: #707172;
	pointer-events: none;
	display: block;
	transition: 0.5s;
}

.input-field input:focus + label,
.input-field input:valid + label {
	transform: translateY(-35px);
	font-size: 1.1rem;
	color: var(--bg-primary);
	background-color: var(--primary);
	padding: 2px 6px;
	border-radius: 0.2rem;
}

.input-field span {
	position: absolute;
	display: block;
	top: 1.5rem;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: var(--text-primary);
}

.input-field span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
}
.input-field input:hover ~ span::before,
.input-field input:focus ~ span::before,
.input-field input:valid ~ span::before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.form-large button,
.form-small button {
	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 0.2rem;
	padding: 0.75rem 1.75rem;
	font-size: 1.75rem;
	margin-bottom: 2rem;
	transition: background-color 0.5s, font-size 0.5s;
}

.form-large button:hover,
.form-small button:hover {
	background-color: var(--primary-hover);
	font-size: 1.8rem;
}
/**********************************
  Test 
**********************************/
.video-header {
	position: absolute;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.video-header,
.video-header iframe {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.video-header iframe {
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	-webkit-transition-position: fixed;
	position: fixed;
}

.recruitment-page-content {
	background: rgb(255, 255, 255);
	position: relative;
	padding: 1rem;
	margin: 0 auto;

	margin-top: 100vh;
	width: 80vw;
	z-index: 1;
}

.recruitment-page-content h2,
.recruitment-page-content h3 {
	text-align: center;
}

.instructions {
	margin: 0rem 1rem 2rem;
}

/* recruitment-page-content::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	top: -100vh;
} */

/* main p {
	max-width: 600px;
	margin: 1rem auto;
} */

iframe {
	/* top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	-webkit-transition-position: fixed;
	position: fixed; */
}

.form-small {
	display: none;
}

.screen-is-below-416px-text {
	display: none;
}
@media only screen and (max-width: 1049px) {
	.screen-is-above-1050px-text {
		display: none;
	}
}

@media only screen and (max-width: 779px) {
	.video-header {
		display: none;
	}
	.recruitment-page-content {
		width: 100vw;
		margin-top: 0px;
	}

	.input-field {
		width: 100%;
	}
	/* body {
		background-image: url(“image.png”);
	} */
}

@media only screen and (max-width: 415px) {
	.screen-is-above-416px-text {
		display: none;
	}
	.screen-is-below-416px-text {
		display: block;
	}
}

@media only screen and (max-width: 375px) {
	.form-large {
		display: none;
	}
	.form-small {
		display: block;
	}
}
