/************************************
	~Imported Styles
************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/************************************
	~Universal Styles
************************************/

*::before,
*::after,
* {
	box-sizing: border-box;
}

/************************************
	~Root Styles
************************************/

:root {
	font-size: 16px;
	font-family: 'Open Sans';

	--bg-primary: #f1f1f1;
	--bg-secondary: #000000;
	--text-primary: #d1d3d4;
	--text-secondary: #393e41;
	--primary: #c4132d;
	--primary-hover: #a21026;
	--accent: #ffdd15;
}

/************************************
	~Main Body Styles
************************************/

body {
	color: var(--text-secondary);
	background-color: var(--bg-primary);
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

ul {
	padding: 0px;
}

.main-content {
	padding: 1rem;
}

/************************************
	~Scroll Bar Styles
************************************/

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}

/************************************
	~SVG Styles
************************************/

svg {
	fill: var(--text-primary);
	height: 1.5rem;
	width: 1.5rem;
	transition: fill 500ms ease;
}

/************************************
	~Navbar Static Styles
************************************/

.navbar-nav {
	background-color: var(--bg-secondary);
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.navbar-nav-small-screen {
	display: none;
}
/************************************
	~Navbar Container Styles
************************************/

.container {
	display: flex;
	height: 3rem;
}

/************************************
	~Nav Item Styles
************************************/

.nav-item {
	display: flex;
	align-items: center;
	transition: background-color 500ms ease;
}
.nav-left-container-right .nav-item,
.nav-right .nav-item,
.nav-left-container-left .nav-item {
	padding: 0rem 1rem;
}

.nav-left-container-left .nav-item {
	background-color: var(--primary);
}

/************************************
	~Nav Link Styles
************************************/

.nav-link {
	color: var(--text-primary);
	text-decoration: none;
	display: flex;
	align-items: center;
}

/************************************
	~Nav Link Content Styles
************************************/

.nav-right svg {
	fill: var(--accent);
}

.link-text {
	margin: 0px 0.5rem;
	transition: color 500ms ease;
}
.nav-right .link-text {
	color: var(--accent);
}

.nav-left-container-left .link-text {
	font-weight: bold;
}

/************************************
	~Navbar Hover Styles
************************************/

.nav-item:hover,
.nav-item:focus {
	background-color: var(--primary);
}

.nav-item:hover .link-text,
.nav-item:focus .link-text {
	color: white;
}

.nav-item:hover svg,
.nav-item:focus svg {
	fill: white;
}

/************************************
	~Media Queries
************************************/
@media (max-width: 1004px) {
	.link-text {
		display: none;
	}

	.nav-left-container-left .link-text {
		display: initial;
	}
}

@media (max-width: 592px) {
	.nav-left-container-left .link-text {
		display: none;
	}
}

@media (max-width: 339px) {
	.nav-left-container-left {
		display: none;
	}
}

@media (max-width: 279px) {
	.navbar {
		display: none;
	}
}
