/*===================================================
		Omega Delta Phi - Alpha Alpha Website
		Updated: May 16th, 2020 @ 12:00 am EST
		Author: Javier Francisco Cuadra
===================================================*/

body {
	background-color: $bg;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background-color: $supporting-black;
}

body::-webkit-scrollbar-thumb {
	background-color: $primary;
}

main {
	padding: 2rem;
}

ul {
	padding: 0px;
}

a {
	text-decoration: none;
}

p {
	margin: 0px;
}
