/*===================================================
		Omega Delta Phi - Alpha Alpha Website
		Updated: May 15th, 2020 @ 7:05 pm
		Author: Javier Francisco Cuadra
===================================================*/

* {
	font-family: $copy-font;
	color: $supporting-text-dark;
}

b,
strong {
	font-family: $copy-font-bold;
}

i,
em {
	font-family: $copy-font-italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
	font-family: $heading-font;
	color: $header-text;
}

.bold-header {
	font-family: $heading-font;
	font-weight: bold;
}

.bold-copy {
	font-family: $copy-font-bold;
}

.italic-copy {
	font-family: $copy-font-italic;
}

.underline {
	text-decoration: underline;
}

.main-heading {
	color: $header-text;
}

.sub-heading {
	color: $sub-headings;
}

.supporting-text-dark {
	color: $supporting-text-dark;
}

.supporting-text-light {
	color: $supporting-text-light;
}
