/*===================================================
		Omega Delta Phi - Alpha Alpha Website
		Updated: May 16th, 2020 @ 2:45 pm EST
		Author: Javier Francisco Cuadra
===================================================*/

.recruitment-page__instructions {
	width: 80%;
	margin: auto;
}

.recruitment-page__instructions-heading {
	font-size: 2rem;
	color: $primary;
	text-align: center;
	margin-top: 0px;
}

.recruitment-page__instruction {
	margin: 2rem 0rem;
	font-size: 1rem;
}
