/* ==================================================
		Omega Delta Phi - Alpha Alpha Website
		Updated: May 16th, 2020
		Author: Javier Francisco Cuadra
================================================== */

.recruitment-page__instructions {
  width: 80%;
  margin: auto;
}

.recruitment-page__instructions-heading {
  margin-top: 0;
  font-size: 2rem;
  color: $primary;
  text-align: center;
}

.recruitment-page__instruction {
  margin: 2rem 0;
  font-size: 1rem;
}
