/* ==================================================
		Omega Delta Phi - Alpha Alpha Website
		Updated: May 16th, 2020
		Author: Javier Francisco Cuadra
================================================== */

.recruitment-page__header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.recruitment-page__header,
.recruitment-page__video {
  width: 100vw;
  height: 100vh;
}

.recruitment-page__video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 99%;
  background-size: cover;
  transition: 1s opacity;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition-position: fixed;
}
