@media only screen and (max-width: 1049px) {
	.screen-is-above-1050px-text {
		display: none;
	}
}

@media only screen and (max-width: 779px) {
	.video-header {
		display: none;
	}
	.recruitment-page-content {
		width: 100vw;
		margin-top: 0px;
	}

	.input-field {
		width: 100%;
	}
	/* body {
		background-image: url(“image.png”);
	} */
}

@media only screen and (max-width: 415px) {
	.screen-is-above-416px-text {
		display: none;
	}
	.screen-is-below-416px-text {
		display: block;
	}
}

@media only screen and (max-width: 375px) {
	.form-large {
		display: none;
	}
	.form-small {
		display: block;
	}
}
