/************************************
	Imported Styles
************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/************************************
	Universal Styles
************************************/

*::before,
*::after,
* {
	box-sizing: border-box;
}

/************************************
	Root Styles
************************************/

:root {
	font-size: 16px;
	font-family: 'Open Sans';

	--bg-primary: #f1f1f1;
	--bg-secondary: #000000;
	--text-primary: #d1d3d4;
	--text-secondary: #393e41;
	--primary: #c4132d;
	--primary-hover: #a21026;
	--accent: #ffdd15;
}

/************************************
	Main Body Styles
************************************/

body {
	color: var(--text-secondary);
	background-color: var(--bg-primary);
	margin: 0px;
	padding: 0px;
}

.main-content {
	margin-left: 5rem;
	padding: 1rem;
}

/************************************
	Scroll Bar Styles
************************************/

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}

/************************************
	SVG Styles
************************************/

svg {
	fill: var(--text-primary);
}

/************************************
	Navbar Static Styles
************************************/

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-secondary);
	transition: width 400ms ease;
}

.navbar-nav {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

/************************************
	Nav Item Styles
************************************/

.nav-item {
	width: 100%;
	margin: 0.5rem 0;
	background-color: var(--bg-secondary);
	transition: background-color 600ms ease;
}

.nav-item .nav-link {
	color: var(--text-primary);
	transition: color 600ms ease;
}

.nav-item svg {
	transition: fill 600ms ease;
}

/************************************
	Nav Item Pseudo-Selector Styles
************************************/

.nav-item:last-child,
.nav-item:first-child {
	background-color: var(--primary);
}

.nav-item:first-child {
	margin-top: 0rem;
}

.nav-item:first-child .link-text {
	font-weight: bold;
	font-size: 1.1rem;
}

.nav-item:last-child {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
}

/************************************
	Nav Link Styles
************************************/

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--bg-primary);
	text-decoration: none;
}

.nav-link svg {
	min-width: 2rem;
	margin: 0 1.5rem;
}

/************************************
	Link Text Styles
************************************/

.link-text {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.6s ease-in-out;
}

/************************************
	Navbar Hover Animation Styles
************************************/

.navbar:hover {
	width: 12rem;
}

.navbar:hover .link-text {
	visibility: visible;
	opacity: 1;
}

/************************************
	Nav Item Hover Animation Styles
************************************/

.nav-item:hover {
	background-color: var(--accent);
}

.nav-item:hover .nav-link {
	color: var(--text-secondary);
}

.nav-item:hover svg {
	fill: var(--text-secondary);
}

/****************************************************
	Nav Item Pseudo-Selector Hover Animation Styles
****************************************************/

.nav-item:first-child:hover,
.nav-item:last-child:hover {
	background-color: var(--primary-hover);
}

.nav-item:first-child:hover .nav-link,
.nav-item:last-child:hover .nav-link {
	color: var(--text-primary);
}

.nav-item:first-child:hover svg,
.nav-item:last-child:hover svg {
	fill: var(--text-primary);
}
